.dash{
    width:78vw;
    height: 600px;
    border-radius: 10px;
    background: #F5F5F5;
    margin: 15px 10px 10px 15px;
    overflow: auto ;
    margin-top:6vw ;
    margin-left: 20vw;
}
.servicemanager{
    display:flex;
}